/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*preloader*/

#hellopreloader_preload {
	display: block;
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 1000px;
	background: #2E3037 url(http://hello-site.ru//main/images/preloads/puff.svg) center center no-repeat;
	background-size:150px;
}

/*fullpage*/

.section{
	background-size: cover;
}

#section0{ 
	background: url(img/chad-kirchoff-202730.jpg), rgba(46, 48, 55, 0.9); 
	background-size: cover;
}

#section8{
	display: flex;
}
	
/*мои стили*/

body{
	color: #fff;
	font-size: 14px;
	font-family: 'Exo 2', sans-serif; 
	font-weight: 300;
}

h1, h2, h3{
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;	
}

h2{
	width: 300px;
	text-align: left;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

h2 .number{
	width: 25%;
	border-bottom: 2px solid red;
	font-size: 14px;
	display: block;
	margin-bottom: 10px;
	padding-bottom: 5px;
	font-weight: 600;
	margin-top: 0 !important;
}


a{
	text-decoration: none;
}

.container{
	width: 75%;
	height: 88%;
	margin: 0 auto;
	/*background: green;*/
	display: flex;
	flex-direction: column;
}

/*главная*/

.logo{
	width: 75%;
	margin: 0 auto;
	background-color: red;
}
.logo img{
	width: 100px;
}
.container .home-h2 .number{
	border-bottom: 2px solid #E9573E;
	margin: 0;
}

.container .home-wrapper{
	
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 100%;
	justify-content: center;
}

.container .home-wrapper h1{
	margin-bottom: 15px;
}

.container .home-wrapper p{
	line-height: 20px;
}

.container .home-wrapper a{
	color: #E9573E;
	text-transform: uppercase;
	margin-top: 30px;	
	border: 2px solid #E9573E;
	border-radius: 2px;
	width: 150px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container .home-wrapper a:hover{
	background-color: #E9573E;
	color: #fff;
}

/*о компании*/

.container .company-h2 .number{
	border-bottom: 2px solid #ED5564;
}

.container .company-wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container .company-wrapper .company-text{
	width: 40%;
	height: 70%;
	border: 2px solid #DB4453;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

.container .company-wrapper .company-text h3{
	margin-bottom: 15px;
}

.container .company-wrapper .company-img{
	width: 60%;
	height: 90%;
	background: url(img/CIMG1724.JPG.jpg) center center no-repeat;
	background-color: 
	background-size: cover;
		
}

/*каталог*/
.container .catalog-h2 .number{
	border-bottom: 2px solid #F6BB43;
}
.tabs_box {
   	width: 100%;
 	height: 100%; 
    background: #fff;
 	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
 	display: flex;
}
 
#tab2, #tab3 {
    display: none;
}
 
.tab {
    width: 100%;
    height: 100%;
}
 
.tabs_menu {
    display: table-row;
}
 
.tabs_menu li {
    display: table-cell;
    width: auto;
}
 
.tabs_menu li a {
    display: table-cell;
    width: 2000px;
    text-align: center;
    text-decoration: none;
    background: #f8f8f8;
    color: #292929;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 10px 0;
}
 
.tabs_menu li:first-child a {
    border-left: 0;
}
 
.tabs_menu .active {
    background: #5f84c1;
    color: #fff;
}


/*сотрудники*/
.container .employees-h2 .number{
	border-bottom: 2px solid #36BC9B;
}
.container .employees-wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	background-color: red;
}
.container .employees-wrapper .employees{
	width: 32%;
	height: 100%;

	background-color: green;
	
}
.container .employees-wrapper .employees img{
	width: 85%;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

}
.container .employees-wrapper .employees .name{
	width: 70%;
	height: 20%;
	background-color: pink;
	position: relative;
	bottom: 0;
}
/*контакты*/
.contact-text .contact-h2 .number{
	border-bottom: 2px solid #5D9CEC;
	margin-left: 0;
}

.contact-text{
	text-align: left;
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -50%);
	background: rgba(46, 48, 55, 1);
	padding: 20px;
	display: flex;
	flex-direction: column;
	color: #fff;
	border: 3px solid #5D9CEC;
	box-shadow: 0 0 10px rgba(46, 48, 55, 0.5);
}

.contact-text h3{
	font-size: 15px;
	color:#5D9CEC;
	margin-left: 30px;
}
.contact-text p{
	margin-top: 12px;
	margin-left: 30px;
	color: #fff;
}

.contact-text p strong{
	font-weight: 400;
	margin-bottom: 7px;
	display: inline-block;
}

.contact-text .magazine{
	margin-top: 25px;
}

.contact-map{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.7;
}

[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
}